<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WOAH COOL MARS</title>
  <!--Boostrap Stylesheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!--CSS stylesheet-->
  <link rel="stylesheet" href="static/css/styles.css">
  
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1 class="description-title">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Today's Data!</a></p>
    </div>

    <!--News-->
    <div class="row">
      <div class="col-md-12">
        <article class="description-content">
          <h1 class="description-title">Latest Mars News:</h1>
          <hr />
          <h1 class="description-title">{{mars.news_title}}</h1>
          <p>{{mars.news_paragraph}}</p>
        </article>
      </div>
    </div>

    <!--Featured Image-->
    <div class="row">
      <div class="col-md-8">
        <h1 class="description-title">Featured Mars Image:</h1>
        <img src="{{mars.featured_image_key}}" class="description-current">
      </div>

      <div class="col-md-4">

        <!--Weather-->
        <div class="row">
          <div class="col-md-12">
              <div class="description-content">
                <h2 class="description-title" style="text-align: center;">Current Weather on Mars</h2>
                <hr />
                <p>{{mars.mars_weather}}</p>
              </div>
          </div>
        </div>

        <!--Facts-->
        <div class="row">
          <div class="col-md-12">
            <div class="description-content">
              <h2 class="description-title" style="text-align: center;">Mars Facts</h2>
			    <div class="table-responsive">
					<table class="table table-striped table-info">
					{{mars.keymars_facts | safe}}
					</table>
				</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Hemispheres-->
    <div class="container" >
      <article class="description-content">
        <!-- <div class="col-xs-12"> -->
          <h1 class="description-title" style="text-align: center;">Mars Hemispheres</h1>
          <hr />
        <!-- </div> -->
        <!-- <div class="container" > -->
          <div class="col-md-auto">
            {% for x in mars.hemispheres %}  
            <h2 class="comparison-title">{{x.title}}</h2>
            <img src="{{x.img_url}}" class="comparison-image img-responsive">
            <hr />
            {% endfor %}
          </div>
        <!-- </div> -->
      </article>
    </div>

  </div>
</body>

</html>
